//
//  Config.xcconfig
//  37-COLLABORATION-iOS-MILLIE
//
//  Created by 송성용 on 11/27/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
BASE_URL = http:/$()/3.36.132.202:8080/api
